#main {
  @include outer-container;

  ul {
    font-weight: 500;
    list-style-type: none;

    li {
      margin: .5em 0;
      h1 {
        font-size: 1.5em;
      }
      span {
        display: inline-block;

        &:before {
          content: '/';
          margin: 0 .3em;
        }
      }
    }
  }
}

.large-column {
  @include span-columns(8 of 12);
}

.small-column {
  @include span-columns(4 of 12);
}
